.box {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  margin-left: 10%;
}

.menu {
  margin-right: 12%;
}

.menu a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.menu .button {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
}

.menu .button:hover {
  background-color: #333;
}

.menu .button:active {
  background-color: #111;
}

.box.changed {
  background-color: #fff;
}

.box.changed .menu .button {
  background-color: green;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#artwork {
  animation: fade 3s infinite;
}


  
  /*BOX2*/

  .box2 {
  height: 440px;
  background-color: #ffc017;
  padding: 20px;
  border-bottom: 1px solid #000;
}
  
  h1 {
    margin-top: 100px;
    font-size: 120px;
    margin-bottom: 10px;
    margin-left: 140px;
  }

  .text {
    font-size: 28px;
    margin-top: 25px;
    margin-left: 140px;
    margin-bottom: 60px;
}
  
  .button2 {
    font-size: 21px;
    margin-left: 140px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
  }


/*TRENDING*/
nav {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: nowrap;
  }

.box3 {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    cursor: pointer;
  }
  
  .trending-info {
    display: flex;
    align-items: center;
    margin-left: 6%;
  }

  .trending-section,
  .author-section {
    display: flex;
    align-items: center;
  }
  
  .number {
    color: gainsboro;
    font-size: 30px;
    margin-right: 10px;
  }
  
  .rounded-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .author-name {
    font-size: 14px;
  }
  
  .highlighted-text {
    margin-top: 5px;
    font-weight: bold;
    margin-left: 40px;
  }
  
  .gray-text {
    margin-top: 10px;
    color: gray;
    margin-left: 40px;
  }


/*MAIN*/
 main {
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    border-top: 1px solid rgb(200, 200, 200);
 }

 .author-section2 {   
    margin-left: 3.5%;
    display: flex;
    align-items: center;
}

.box3 .content {
    position: relative;
  }
  
  .box3 .content .right-image {
    position: absolute;
    top: 0;
    right: 45%;
    height: 120px;
  }


  /*SECTION*/
section {
    margin-left: 65%;
    margin-top: -75%;
    margin-right: 8%;
    }

  .box4 .title {
    text-align: center;
  }
  
  .box4 .buttons-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .box4 .button {
    background-color: #ffffff;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .box4 .divider {
    border-top: 1px solid gray;
    margin: 20px 0;
  }
  
  .box4 .clickable-words {
    text-align: center;
  }
  
  .box4 .clickable-word {
    color: gray;
    margin: 5px;
    text-decoration: none;
  }